# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
server/node_modules
client/node_modules

# testing
/coverage
/server/test/*

# production
client/build
build/
ansible/*
nginx.conf

# stuff
unicornleap

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
clientKeys.js
testData.js
cronFakeData.js

# styles
src/**/*.css
config.codekit3

