@import '../../Styles/Colors.sass'
@import '../../Styles/Fonts.sass'

.card-container
  position: relative
  margin: 5px auto
  border-radius: 3px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  width: 90%
  height: 68px

.color-container
  position: absolute
  top: 0px
  height: 68px
  width: 100%
  background-color: $bg-green
  border-radius: 3px 3px 3px 3px